<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="top">
      <h1><img src="./assets/header.jpg" alt="Seattle Times Fall Arts Guide"></h1>

      <p>
        This is the fall arts guide &mdash; everything you could possibly want to do this fall in Seattle, from books to concerts to art shows.
    </header>

    <main class="table-container">

      <nav class="filters">
        <input type="text" placeholder="Search events" class="search">
        <div>
          <h2 class="nav-header">Choose categories</h2>
          <% var cats = [
            { data: "books", label: "Books &amp; Authors" },
            { data: "classical", label: "Classical Music &amp; Opera" },
            { data: "pop", label: "Pop, Rock &amp; Jazz" },
            { data: "comedy", label: "Comedy" },
            { data: "theater", label: "Theater" },
            { data: "todo", label: "To-do list" },
            { data: "art", label: "Visual Art" }
          ] %>
          <ul class="categories">
            <% cats.forEach(function(cat) { %>
            <li>
              <input type="checkbox" data-category="<%= cat.data %>" id="<%= cat.data %>" checked="checked">
              <label for="<%= cat.data %>"><%= cat.label %></label>
            </li>
            <% }) %>
          </ul>
        </div>
      </nav>

      <table class="fall-arts">
        <thead>
          <tr>
            <th class="category">
            <th class="date">Date
            <th class="event">Event
            <th class="location">Location
            <th class="description">Description
        <tbody class="events">
          <% var icons = {
            books: "bookauthors.png",
            classical: "classicalopera.png",
            comedy: "comedy.png",
            dance: "dance.png",
            pop: "poprockjazz.png",
            theater: "theater.png",
            todo: "todolist.png",
            art: "visualart.png"
          } %>
          <% json.guide.forEach(function(item) { %>
          <tr data-category="<%= item.className %>">
            <td class="category">
              <img src="./assets/icons/<%= icons[item.className] %>"
                alt="<%= item.category %>"
                title="<%= item.category %>"
              >
            </td>
            <td class="date"><%= item.date %>
            <td class="event">
              <% if (item.website) { %>
              <a href="<%= item.website %>">
              <% } %>
              <%= item.event %>
              <% if (item.website) { %>
              </a>
              <% } %>
            <td class="location"><%= item.location %>
            <td class="description"><%= item.info %>
          <% }) %>
        <tbody class="emptied">
          <tr>
            <td colspan="99">No results found</td>
      </table>
    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
